[submodule "number-checker"]
	path = public/number-checker
	url = https://github.com/davwheat/UK-Phone-Number-Identifier
[submodule "public/templates"]
	path = public/templates
	url = https://github.com/davwheat/giffgaff-templates
