h1,
h2,
h3,
h4,
h5,
h6 {
  + p,
  + .heading-m {
    margin-top: 16px;
  }

  &:not(:first-child) {
    margin-top: 24px;
  }

  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    margin-top: 24px;
  }
}

.single__article {
  p:not(:last-child) {
    margin-bottom: 8px;
  }
}

.gg-c-cards {
  button.gg-c-cards__card {
    appearance: none;
    text-align: left;
  }

  &__card {
    article {
      height: 100%;
    }
  }
}
